:root {
  --neutral: hsl(43, 76%, 92%);
  --theme: hsl(300, 100%, 25%);
  --theme-dark: hsl(300, 100%, 18%);
  --counter: hsl(51, 100%, 50%);
  --font-body: 'Atkinson Hyperlegible', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --font-strong: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --main-width: 50em;

}

body {
  background-color: var(--neutral);
  font-family: var(--font-body);
}

main {
  font-size: 1.2em;
  margin: auto;
  max-width: var(--main-width);
}

h1,
h2 {
  /* background-color: var(--counter); */
  color: var(--theme);
}

li {
  padding-bottom: 0.5em;
}
